.form {
	width: 350px;
	margin: 5% auto;
	padding: 45px;
	text-align: center;
	background: #f9f9f9;
	border-radius: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1 {
	margin: 0 0 20px;
}

.form .hr1 {
	margin: 0 0 20px;
	border: none;
	border-bottom: 1px solid #ddd;
	clear: both;
}

.form input,
select {
	width: 80%;
	clear: both;
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.form select {
	width: 90%;
}

.form label {
	font-size: 0.8em;
	display: block;
	clear: both;
	float: left;
	margin-left: 7%;
	margin-bottom: 2%;
	color: #707070;
}

.sign_up_btn {
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #1e3f66;
	color: #fff;
	height: 40px;
	width: 80%;
}

.form input[type="date"] {
	color: #757575;
}

.dimmed {
	color: #757575;
}

.or {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.form .or .hr2 {
	border-bottom: 1px solid #ddd;
	clear: both;
	width: 40%;
	margin: 0 10px;
}

.form .sign_in_redirect a {
	text-decoration: none;
	color: #1e3f66;
	padding: 10px 45px;
	border: none;
	background: #ffffff;
	width: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}
