.about {
	padding: 4%;
	margin: 0 5%;
}

.about p {
	padding-top: 3%;
	line-height: 1.5;
	text-align: justify;
}

.why {
	padding: 4%;
}

.why img {
	padding-top: 2%;
	margin-bottom: 5%;
}

li span {
	font-size: 1.5em;
	font-weight: bold;
}

.how_it_works {
	margin: 0 5%;
}

.how_it_works h1 {
	margin: 0 5%;
	padding-bottom: 3%;
}

.steps {
	margin: 0 5% 2% 8%;
}

.how_it_works h2 {
	padding-bottom: 1%;
}

.how_it_works ul {
	position: relative;
	list-style: none;
	padding: 1%;
	line-height: 1.5;
	text-align: justify;
}

.how_it_works ul:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddd;
	width: 3px;
	height: 100%;
}

.how_it_works ul li {
	padding: 30px 50px;
	position: relative;
}

.how_it_works li span {
	position: absolute;
	left: -25px;
	font-size: 15px;
	background-color: #fff;
	padding: 15px 0;
	top: 10px;
	color: #6d7888;
}

.how_it_works li:hover span {
	transform: scale(1.2);
	transition: all 0.5s;
}

.why {
	margin: 0 5%;
}

.why h1 {
	padding-bottom: 3%;
}

.card_wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 2%;
	margin-bottom: 2%;
	align-items: center;
	justify-content: center;
}

.card {
	width: 325px;
	margin: 1%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	margin: 0 2.5%;
}

.card:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}

.card h1 {
	text-align: center;
	padding: 20px 0;
}

.card p {
	padding: 0 10%;
	line-height: 1.5;
}

.card ul {
	padding: 5% 15%;
}

.card ul li {
	line-height: 1.5;
}

.card_button {
	margin: 10px 0 0 0;
	border: 1px solid #ddd;
	border-radius: 0 0 10px 10px;
	background: #1e3f66;
	color: #fff;
	height: 40px;
	width: 100%;
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}

.walkthrough {
	display: flex;
	flex-direction: row;
	margin: 3% 10% 8% 5%;
	justify-content: space-between;
	align-items: flex-start;
}

.walkthrough .content {
	width: 45%;
	padding: 0 5%;
	line-height: 1.5;
	font-size: 1.2em;
}
.walkthrough span {
	color: #1cacf4;
}

.walkthrough p {
	padding: 4% 0;
	text-align: justify;
}

.walkthrough .buttons {
	list-style: none;
	display: inline-block;
	padding: 2% 0;
}

.walkthrough a {
	text-decoration: none;
	margin-right: 20px;
}

.read_button {
	background: #1e3f66;
	color: #ffffff;
	border-radius: 8px;
	padding: 10px 20px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

.video:hover {
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.walkthrough .content .buttons a:hover {
	color: #1e3f66;
	border: 1px solid #1e3f66;
	background: #ffffff;
	border-radius: 8px;
	padding: 8px 18px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
	transition: all 0.3s ease-in-out;
}
