.form {
	width: 300px;
	margin: 5% auto;
	padding: 45px;
	text-align: center;
	background: #f9f9f9;
	border-radius: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1 {
	margin: 0 0 20px;
}

.form .hr1 {
	margin: 0 0 20px;
	border: none;
	border-bottom: 1px solid #ddd;
	clear: both;
}

.form input {
	width: 280px;
	clear: both;
	margin: 0 0 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.form input[type="submit"] {
	margin: 0 0 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #1e3f66;
	color: #fff;
	height: 40px;
}
